/* ==========================================================================
   Footer
   ========================================================================== */


footer {
	position: fixed;
	z-index: 9999;
	overflow: hidden;
	overflow-x: scroll;
	max-width: 320px;
	bottom: 1.5em;
	left: calc(50% - 160px);
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 100px;
	padding: 1em 2em;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	//border: solid 1px rgba(255,255,255,.25);
	font-family: 'Pitch Regular', monospace;
	
	@media (prefers-color-scheme: dark) {
		a {
			color: #fefefe;
		}
	}
	
	.year--control {
		display: flex;
		width: auto;	
		
		li {
			display: inline-flex;
			margin-right: 1em;
			
			&:last-child {
				padding-right: 1em;
			}	
		}
		
		a {
			text-decoration: none;
		}
	}
}