/* ==========================================================================
   Projects
   ========================================================================== */

.projects {
	width: 76%;
	margin: 0 8% 0 16%;
	text-align: center;
	font-family: 'Pitch Regular', monospace;
	
	@media #{$small} {
		width: 100%;
		margin: 0;
	}
	
	i {
		font-family: 'Pitch Italic', monospace;
	}
	
	h2 {
		font-size: 0.85em;
		text-transform: uppercase;
	}
	
	.project {
		position: relative;
		width: 100%;
		margin: 0 0 10em 0;
		
		.play {
			overflow: hidden;
			cursor: pointer;
			
			&:before {
				position: absolute;
				content: '';
				width: 50px;
				height: 60px;
				background-color: white;
				left: 50%;
				top: 50%;
				z-index: 2;
				transform: translate(-25px,-30px);
				clip-path: polygon(100% 50%, 0 0, 0 100%);
				-webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
				
				@media #{$small} {
					width: 25px;
					height: 30px;
					left: 5%;
					top: auto;
					bottom: 10%;
					transform: none;
				}
			}

			&:hover {
				&:before {
					opacity: 0.35;
				}
			}

		}
		
		figure {
			margin: 0; 
		}
		
		&--media {
			position: relative;
			max-width: 100%;
						
			video {
				
			}
		}
		
		&--desc {
			position: absolute;
			width: 100%;
			bottom: 1.5em;
			padding-top: 1em;
			font-size: 0.85em;
			color: white;
			
			@media #{$small} {
				//position: relative;
				bottom: -7em;
			}
			
			ol {
				display: inline-block;
			}
		}	
		
		&--information {
			
			li {
				display: inline-block;
				padding-right: 1.5em;
				
				@media #{$small} {
					display: block;
					padding: 0;
					
					&:before,
					&:after {
					  content: " "; /* 1 */
					  display: table; /* 2 */
					}
				}
			}

			&-name {
				
			}
			
			&-director {
				@media #{$small} {
					opacity: 0.8;
				}
			}
			
			&-production-company {
				@media #{$small} {
					opacity: 0.6;
				}
			}
			
			&-year {
				@media #{$small} {
					opacity: 0.4;
				}
			}
		}
	}
}