/* ==========================================================================
   Breakpoints
   ========================================================================== */

$bp-tiny: 320px;   
$bp-small: 640px;
$bp-medium: 1024px;
$bp-marge: 1280px;
$bp-large: 1440px;
$bp-grand: 1680px;
$bp-huge: 1920px;
$bp-mega: 2560px;

/* ==========================================================================
   Queries
   ========================================================================== */

$tiny: 		"(max-width: #{$bp-tiny})";  
$small: 		"(max-width: #{$bp-small})";
$medium: 	"(max-width: #{$bp-medium})";
$marge: 		"(max-width: #{$bp-marge})";
$large: 		"(max-width: #{$bp-large})";
$grand: 		"(max-width: #{$bp-grand})";
$huge: 		"(max-width: #{$bp-huge})";
$mega: 		"(max-width: #{$bp-mega})";

/*
$tiny: 		"(max-width: #{$bp-small})";  
$small: 	"(min-width: #{$bp-small + 1px}) and (max-width: #{$bp-medium})";
$medium: 	"(min-width: #{$bp-medium + 1px}) and (max-width: #{$bp-large})";
$large: 	"(min-width: #{$bp-large + 1px}) and (max-width: #{$bp-huge})";
$huge: 		"(min-width: #{$bp-huge + 1px}) and (max-width: #{$bp-mega})";
$mega: 		"(min-width: #{$bp-mega + 1px})";*/

/* ==========================================================================
   Cubic bezier
   ========================================================================== */
   
$cubic: cubic-bezier(0.215, 0.60, 0.355, 1);

/* ==========================================================================
   Colors
   ========================================================================== */
   
$yellow: rgba(244, 224, 51, 1);
$gray: rgba(231,230,235,1)

/* ==========================================================================
   Units
   ========================================================================== */